<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "io.wq.species"
    version     = "{{version}}" >

  <name>Species Tracker</name>
  <description>
    A prototype Citizen Science app for species monitoring.
  </description>

  <author href="https://wq.io" email="andrew@wq.io">
    S. Andrew Sheppard
  </author>

  <preference name='phonegap-version' value='cli-5.1.1' />
  <preference name="permissions" value="none" />

  <gap:platform name="android" />

  <gap:plugin name="org.apache.cordova.camera" source='pgb' />
  <gap:plugin name="org.apache.cordova.geolocation" source='pgb' />

  {{#crosswalk}}
  <gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />
  {{/crosswalk}}

  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <access origin="*" />

</widget>
