<!DOCTYPE html>
<html><!-- manifest="species.appcache" -->
  <head>
    <title>species Project</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>species Project</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview">
          <li><a href="/species">About Species</a></li>
          <li><a href="/reports">See Reports</a></li>
          <li><a href="/reports/new">Share Report</a></li>
        </ul>
        <p>Version {{version}}</p>
      </div>
    </div>
  </body>
</html>
