<!DOCTYPE html>
<html manifest="species.appcache">
  <head>
    <title>Species Tracker</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Species Tracker</h1>
      </div>
      <div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
          <li data-icon="plus">
            <a href="{{rt}}/reports/new">Share Report</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/reports">See Reports</a>
          </li>
          <li>
            <a href="{{rt}}/species">Species Descriptions</a>
          </li>
        </ul>
        <div class="map detail-map" id="index-map"></div>
        <p>Version {{version}}</p>
        <p style="text-align:center">
          <a target="_blank" href="https://github.com/powered-by-wq/species.wq.io">
            Source Code
          </a>
        </p>
        <p style="text-align:center;color:#999">
          Powered By
	  <a target="_blank" href="https://wq.io/">
            <img src="{{rt}}/images/wq.png"
                 style="width:32px;height:32px;vertical-align:middle;">
          </a>
	</p>
      </div>
    </div>
  </body>
</html>
