<!DOCTYPE html>
<html manifest="species.appcache">
  <head>
    <title>Species Tracker</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Species Tracker</h1>
      </div>
      <div data-role="content">
        <ul data-role="listview">
          <li><a href="{{router_info.base_url}}/reports/new">Share Report</a></li>
          <li><a href="{{router_info.base_url}}/reports">See Reports</a></li>
          <li><a href="{{router_info.base_url}}/species">Species Description</a></li>
        </ul>
        <p>Version {{version}}</p>
        <p style="text-align:center">
          <a target="_blank" href="https://github.com/powered-by-wq/species.wq.io">
            Source Code
          </a>
        </p>
        <p style="text-align:center;color:#999">
          Powered By
	  <a target="_blank" href="https://wq.io/">
            <img src="{{router_info.base_url}}/images/wq.png"
                 style="width:32px;height:32px;vertical-align:middle;">
          </a>
	</p>
      </div>
    </div>
  </body>
</html>
