<!DOCTYPE html>
<html>
  <head>
    <title>Submit Report</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Submit Report</h1>
      </div>
      <div class="ui-content" role="main">
        <form action="{{router_info.base_url}}/reports/" data-ajax="false" method="post"
            {{#outbox_id}}
            data-wq-outbox-id="{{outbox_id}}"
            data-wq-outbox-preserve="photo"
            {{/outbox_id}}>
          {{>csrf}}
        <ul data-role="listview">
          <li data-role="fieldcontain">
            <label for="species">Species</label>
            <select id="species" name="species_id" required>
              <option value="">Enter a species...</option>
            {{#species_list}}
              <option value="{{id}}"{{#selected}} selected{{/selected}}>
                {{label}}
              </option>
            {{/species_list}}
            </select>
            <p class="error report-species-errors"></p>
          </li>
          <li data-role="fieldcontain">
            {{^photo}}
            <img src="{{router_info.base_url}}/images/empty.png" id="preview">
            <label for="image">Photo</label>
            <input type="file" name="photo" id="image"
               onchange="require('wq/photos').preview('preview', this.files[0]);">
            {{/photo}}
            {{#photo}}
            <img src="{{image_url}}">
            <label for="image">Photo</label>
            <input type="text" id="image" disabled
                value="{{name}} ({{type}}, {{body.size}} bytes)">
            {{/photo}}
            <p class="error report-photo-errors"></p>
          </li>
          <li data-role="fieldcontain">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" value="{{date}}">
            <p class="error report-date-errors"></p>
          </li>
          <li data-role="fieldcontain"{{#outbox_id}}style="display:none"{{/outbox_id}}>
            <fieldset data-role="controlgroup">
              <legend>Location Mode</legend>
              <input type='radio' value='gps' id='loc-gps' name='mode'>
              <label for='loc-gps'>GPS Lookup</label>
              <input type='radio' value='interactive' id='loc-interactive' name='mode'>
              <label for='loc-interactive'>Point on Map</label>
              <input type='radio' value='manual' id='loc-manual' name='mode'
                {{#outbox_id}}checked{{/outbox_id}}>
              <label for='loc-manual'>Enter Cordinates</label>
            </fieldset>
          </li>
          <li data-role="fieldcontain">
            <div id="report-new-map" style="height:300px;"></div>
          </li>
          <li data-role="fieldcontain">
            <label for="longitude">Longitude</label>
            <input id="longitude" name="longitude" value="{{longitude}}" type="tel">
            <p class="error report-longitude-errors"></p>
          </li>
          <li data-role="fieldcontain">
            <label for="latitude">Latitude</label>
            <input id="latitude" name="latitude" value="{{latitude}}" type="tel">
            <p class="error report-latitude-errors"></p>
          </li>
          <li data-role="fieldcontain">
            <label for="accuracy">Accuracy</label>
            <input id="accuracy" name="accuracy" value="{{accuracy}}" type="tel">
            <p class="error report-accuracy-errors"></p>
          </li>
          <li data-role="fieldcontain">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes">{{notes}}</textarea>
            <p class="error report-notes-errors"></p>
          </li>
          <li><p class="error report-errors"></p></li>
          <li>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <a href="{{router_info.base_url}}/" data-role="button">Cancel</a>
              </div>
              <div class="ui-block-b">
                <button type="submit" data-theme="b">Submit</button>
              </div>
            </div>
          </div>
        </ul>
        </form>
      </div>
    </div>
  </body>
</html>
