<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} species</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} species</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/species/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='species-name'>Name</label>
              <input id='species-name' type='text' data-xform-type='string' name='name' required value="{{name}}">
              <p class='error species-name-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='species-slug'>URL Slug</label>
              <input id='species-slug' type='text' data-xform-type='string' name='slug' required value="{{slug}}">
              <p class='error species-slug-errors'></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/species/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error species-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
