<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
      </div>
      <div data-role="content">
        <h3>{{label}}</h3>
        <p>[Species Description and photos would go here]</p>
        <ul data-role="listview">
          <li><a href="{{router_info.base_url}}/species">Back to Species</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
